export env=dev
export TF_VAR_env=$env

# TODO: figure out more secure way to handle credentials
export GOOGLE_APPLICATION_CREDENTIALS=~/.config/gcloud/dev_terraform_cred.json
pass show gcp/dev-terraform > $GOOGLE_APPLICATION_CREDENTIALS
chmod 600 $GOOGLE_APPLICATION_CREDENTIALS
